.site-footer {
	padding: 62px 0 10px;
	text-align: center;
	background-color: $black;
	&__row {
		border-bottom: 2px solid $white;
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			flex-wrap: no-wrap;
		}
		&:first-child .site-footer__col {
			padding-top: 60px;
			@include media-breakpoint-up(lg) {
				padding-top: 86px;
			}
		}
	}
	&__col {
		padding: 16px;
		@include media-breakpoint-up(sm) {
			padding: 22px 40px;
		}
		@include media-breakpoint-up(lg) {
			border-right: 2px solid $white;
		}
		&:last-child {
			border-right: 0;
		}
		&--4 {
			width: 100%;
			@include media-breakpoint-up(lg) {
				width: 33%;
			}
		}
		&--8 {
			width: 100%;
			@include media-breakpoint-up(lg) {
				width: 66%;
			}
		}
	}
	&__base {
		padding: 47px 0;
	}
}

.contact {
	&__title {
		color: $yellow;
	}
	&__details {
		color: $white;
	}
}

.parking {
	position: relative;
	display: inline-block;
	padding-left: 44px;
	&__icon {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		content: "";
	}
	&__title,
	&__info {
		line-height: 22px;
		color: $white;
		text-transform: uppercase;
		@include media-breakpoint-up(sm) {
			line-height: 32px;
		}
	}
	&__title {
		margin-bottom: 0;
	}
	&__info {
		font-size: 16px;
		letter-spacing: 1px;
		@include media-breakpoint-up(sm) {
			font-size: 18px;
			text-align: left;
		}
	}
}

.social-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	&__item {
		display: inline-block;
		width: 24%;
	}
}
.social-item {
	text-align: center;
	&__icon {
		@include media-breakpoint-up(sm) {
			margin-bottom: 14px;
		}
	}
	&__name {
		display: none;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: .2s;
		@include media-breakpoint-up(sm) {
			display: block;
		}
		@include media-breakpoint-up(md) {
			font-size: 18px;
			letter-spacing: 3px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 24px;
		}
	}
	svg {
		max-width: 34px;
		@include media-breakpoint-up(sm) {
			max-width: 40px;
		}
		@include media-breakpoint-up(lg) {
			max-width: 60px;
		}	
	}
	a {
		color: $yellow;
		transition: .2s;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}
