.density {
	position: relative;
	overflow: hidden;
	padding: 100px 0 200px;
	@include media-breakpoint-up(sm) {
		padding: 135px 0 235px;
	}
	@include media-breakpoint-up(xl) {
		height: 900px;
		padding: 235px 0 55px;
	}
	&__halftone {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		pointer-events: none;
		opacity: .3;
	}
	&__angle {
		position: absolute;
		left: 0;
		width: 100%;
		&::after {
			position: absolute;
			left: -10px;
			width: calc(100% + 20px);
			height: 55px;
			background-color: $white;
			content: "";
			transform-origin: 0% 100%;
			@include media-breakpoint-up(xl) {
				height: 100px;
			}
		}
		&--top {
			top: 0;
			height: 70px;
			background-color: $red;
			@include media-breakpoint-up(sm) {
				height: 108px;
			}
			&::after {
				bottom: 0;
				transform: translateY(100%) rotate(-1deg);
			}
		}
		&--bottom {
			bottom: 0;
			height: 172px;
			background-color: $yellow;
			&::after {
				top: 0;
				transform: translateY(-100%) rotate(2deg);
			}
		}
	}
	&__badge {
		z-index: 9;
		margin: 40px auto;
		text-align: center;
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 47%;
			left: 25%;
			left: 50%;
			margin: 0;
			text-align: left;
			transform: translateY(-50%) translateX(calc(-100% - 35px));
		}
		svg {
			max-width: 100%;
			max-height: 300px;
			@include media-breakpoint-up(sm) {
				max-height: 567px;
			}
		}
	}
	&__content {
		z-index: 9;
		margin: 40px auto;
		text-align: center;
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 50%;
			left: 25%;
			left: 50%;
			margin: 0;
			text-align: left;
			transform: translateY(-50%) translateX(35px);
		}
	}
	&__statement {
		position: absolute;
		bottom: 55px;
		left: 0;
		z-index: 9;
		width: 100%;
		text-align: center;
	}
	&__down-arrow {
		position: relative;
		svg {
			position: absolute;
			top: -45px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.text-block {
	position: relative;
	line-height: 1.2;
	text-transform: uppercase;
	&__fs-1 {
		font-size: 16px;
		letter-spacing: 1px;
		@include media-breakpoint-up(sm) {
			font-size: 22px;
			letter-spacing: 5.2px;
		}
		@include media-breakpoint-up(md) {
			font-size: 26px;
			letter-spacing: 5.5px;
		}
	}
	&__fs-2 {
		font-family: "Authority";
		font-size: 38px;
		line-height: 1.1;
		letter-spacing: 1px;
		@include media-breakpoint-up(sm) {
			font-size: 44px;
			letter-spacing: .1px;
		}
		@include media-breakpoint-up(md) {
			font-size: 50px;
		}
	}
	&__fs-3 {
		font-family: "Authority";
		font-size: 38px;
		line-height: 1.1;
		letter-spacing: 1px;
		@include media-breakpoint-up(sm) {
			font-size: 48px;
			letter-spacing: -.2px;
		}
		@include media-breakpoint-up(md) {
			font-size: 54px;
		}
	}
	&__fs-4 {
		display: none;
		font-size: 33px;
		letter-spacing: 6px;
		color: $yellow;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	&__fs-5 {
		display: none;
		font-size: 25px;
		letter-spacing: 4px;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	&__fs-6 {
		display: none;
		font-size: 34px;
		letter-spacing: .5px;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	&__with-arrow {
		position: relative;
		padding-left: 125px;
	}
	&__arrow {
		position: absolute;
		top: 5px;
		left: -60px;
		display: none;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
}
.video-block {
	position: relative;
	display: none;
	margin-top: 45px;
	@include media-breakpoint-up(xl) {
		display: block;
	}
	&__icon {
		svg {
			display: block;
		}
	}
	&__text {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - 218px);
		height: 100%;
		background-color: #210000;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.masonry {
	margin: 50px -10px;
	&__row {
		@include media-breakpoint-up(lg) {
			display: flex;
			height: 380px;
			flex-direction: row;
		}
		&--short {
			@include media-breakpoint-up(lg) {
				height: 150px;
			}
		}
	}
	&__column {
		height: 190px;
		@include media-breakpoint-up(lg) {
			display: flex;
			width: 100%;
			height: auto;
			flex-direction: column;
		}
	}
}
.masonry-card {
	position: relative;
	height: 100%;
	min-height: 170px;
	margin: 10px;
	background-color: $black;
	&__title {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
	}
	.card-subtitle {
		margin-bottom: 4px;
		font-family: "ROBU";
		font-size: 24px;
		line-height: 1;
		color: $yellow;
	}
	.card-title {
		font-size: 20px;
		line-height: 1;
		letter-spacing: 2px;
		color: $white;
		text-transform: uppercase;
	}
}

.divider {
	margin: 20px 0;
	text-align: center;
}

.upcoming-events {
	position: relative;
	padding: 140px 0 120px;
	background-color: $yellow;
	&::after {
		position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 999;
    	width: 100%;
    	height: 44px;
    	background-color: $white;
    	clip-path: polygon(0 0, 0 100%, 100% 0);
    	-webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    	content: "";
	}
	&__header {
		font-family: "Authority";
		font-size: 3rem;
		line-height: 1;
		letter-spacing: .3px;
		text-align: center;
		color: $white;
		@include media-breakpoint-up(sm) {
			font-size: 4rem;
		}
		@include media-breakpoint-up(md) {
			font-size: 4.6rem;
			line-height: .8;
		}
		@include media-breakpoint-up(lg) {
			font-size: 6.2rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 8.75rem;
		}
	}
	&__subheader {
		margin-bottom: 22px;
		font-family: "ROBU";
		font-size: 2rem;
		letter-spacing: .1px;
		text-align: center;
		color: $white;
		@include media-breakpoint-up(sm) {
			font-size: 2.75rem;
		}
		@include media-breakpoint-up(lg) {
			font-size: 3rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 4rem;
		}
	}
	&__events {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			margin: 0 -10px;
		}
	}
	&__more {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 9;
		width: 100%;
	}
}
.more-events {
	&__icon {
		position: absolute;
		top: -26px;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%) rotate(180deg);
	}
	&__button {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		max-width: 400px;
		height: 75px;
		padding: 0 30px;
		font-size: 1.25rem;
		line-height: 75px;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		background-color: $red;
		transform: translateY(50%);
		transition: .25s;
		@include media-breakpoint-up(xl) {
			font-size: 1.75rem;
		}
		&:hover {
			color: $red;
			text-decoration: none;
			background-color: $white;
		}
	}
}
.event-card {
	position: relative;
	width: calc(100% - 20px);
	height: 340px;
	margin: 20px auto;
	background-color: $black;
	@include media-breakpoint-up(lg) {
		height: 380px;
		margin: 0 10px;
	}
	@include media-breakpoint-up(xl) {
		height: 420px;
	}
	&__details {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 20px 35px;
		font-size: 1.15rem;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		background-color: $red;	
		@include media-breakpoint-up(xl) {
			font-size: 1.75rem;
		}
	}
	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0 35px;
		font-family: "Authority";
		font-size: 2.25rem;
		line-height: 1.1;
		text-align: center;
		color: $white;
		transform: translate(-50%, -50%);
		@include media-breakpoint-up(md) {
			font-size: 2.75rem;
			line-height: .9;
		}
		@include media-breakpoint-up(xl) {
			font-size: 3.375rem;
		}
	}
	&__button {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		max-width: 250px;
		height: 75px;
		padding: 0 30px;
		font-size: 1.25rem;
		line-height: 75px;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		background-color: $red;
		transition: .25s;
		@include media-breakpoint-up(xl) {
			font-size: 1.75rem;
		}
		&:hover {
			color: $red;
			text-decoration: none;
			background-color: $white;
		}
	}
}

.signup {
	position: relative;
	z-index: 9999;
    margin-bottom: -24px;
	&__header {
		margin-bottom: 8px;
		font-family: "Authority";
		font-size: 3rem;
		line-height: 1;
		color: $yellow;
		text-align: center;
		@include media-breakpoint-up(sm) {
			font-size: 4rem;
		}
		@include media-breakpoint-up(md) {
			font-size: 4.8rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 6.75rem;
			text-align: left;
		}
	}
	&__body {
		@include media-breakpoint-up(xl) {
			display: flex;
			flex-direction: row;
		}
	}
	&__sidebar {
		display: flex;
		padding-right: 16px;
		align-items: center;
    	justify-content: center;
    	@include media-breakpoint-up(xl) {
    		width: 33%;
    	}
	}
	&__form {
		padding: 30px 35px;
		background-color: $black;
		@include media-breakpoint-up(xl) {
			width: 66%;
		}
	}
}

.susb {
	position: relative;
	display: none;
	@include media-breakpoint-up(xl) {
		display: block;
	}
	&__type {
		display: block;
		line-height: 1.2;
		text-transform: uppercase;
		&--1 {
			font-size: 2.25rem;
			letter-spacing: 13.5px;
		}
		&--2 {
			font-family: "Authority";
			font-size: 7.25rem;
			line-height: .8;
			color: $yellow;
		}
		&--3 {
			position: absolute;
			top: 0;
			left: 0;
			font-family: "Authority";
			font-size: 6.9375rem;
			line-height: 1;
			color: $yellow;
		}
		&--4 {
			padding: 17px 0 0 64px;
			font-size: 1.6875rem;
			letter-spacing: .9px;
		}
		&--5 {
			padding-left: 64px;
			font-size: 1.875rem;
			letter-spacing: .9px;
		}
		&--6 {
			padding-left: 64px;
			font-size: 1rem;
			letter-spacing: .3px;
			color: $yellow;
		}
	}
}

.the-studio {
	position: relative;
	padding: 180px 0;
	background-size: cover;
	background-position: center;
	@include media-breakpoint-up(md) {
		height: 668px;
		padding: 235px 0 305px;
	}
	&__meta {
		line-height: 1;
		color: $white;
		text-align: center;
	}
	&__subtitle {
		margin-bottom: 20px;
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include media-breakpoint-up(md) {
			font-size: 22px;
			letter-spacing: 3px;
		}
	}
	&__title {
		font-family: "ROBU";
		font-size: 42px;
		@include media-breakpoint-up(md) {
			font-size: 72px;
		}
	}
}

.studio-badge {
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 250px;
	height: 250px;
	font-size: 30px;
	background-size: cover;
	background-position: center;
	border-radius: 400px;
	transform: translateY(calc(100% + 40px)) translateX(50%);
	@include media-breakpoint-up(md) {
		right: 0;
		width: 300px;
		height: 300px;
		transform: translateY(calc(100% + 20px));
	}
	@include media-breakpoint-up(xl) {
		width: 400px;
		height: 400px;
	}
	&__meta {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		line-height: 1;
		color: $white;
		text-align: center;
		transform: translate(-50%, -50%);
	}
	&__subtitle {
		margin-bottom: 5px;
		font-family: "ROBU";
	}
	&__title {
		letter-spacing: .2px;
		text-transform: uppercase;
	}
}

.hey-yall {
	position: relative;
	margin: 50px 0 80px;
	&__hey {
		display: none;
		font-family: "Authority";
		font-size: 15.0625rem;
		line-height: .85;
		color: $yellow;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	&__about {
		opacity: 0;
		@include media-breakpoint-up(md) {
			opacity: 1;
		}
		@include media-breakpoint-up(xl) {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	svg {
		max-width: 100%;
	}
}

.big-statement {
	position: relative;
	height: 350px;
	background-size: cover;
	background-position: center;
	@include media-breakpoint-up(sm) {
		height: 450px;
	}
	@include media-breakpoint-up(lg) {
		height: 668px;
	}
	&__banner {
		position: absolute;
		top: -29px;
		left: 15px;
		width: 280px;
		height: calc(100% + 29px);
		background-color: $yellow;
		@include media-breakpoint-up(sm) {
			width: 320px;
		}
		@include media-breakpoint-up(lg) {
			width: 372px;
		}
		&::after {
			position: absolute;
			top: 0;
			right: -23px;
			width: 0;
			height: 0;
			border-bottom: 29px solid #C97F27;
			border-right: 23px solid transparent;
			content: "";
		}
		&::before {
			position: absolute;
			bottom: -75px;
			left: 0;
			width: 0;
			height: 0;
			border-left: 140px solid transparent;
			border-right: 140px solid transparent;
			border-top: 75px solid $yellow;
			content: "";
			@include media-breakpoint-up(sm) {
				border-left: 160px solid transparent;
				border-right: 160px solid transparent;
			}
			@include media-breakpoint-up(lg) {
				border-left: 186px solid transparent;
				border-right: 186px solid transparent;
			}
		}
	}
	&__banner-text {
		position: relative;
		top: 50%;
		left: 50%;
		padding: 60px 35px;
		font-size: 18px;
		letter-spacing: 2px;
		line-height: 36px;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		transform: translate(-50%, -50%);
		@include media-breakpoint-up(sm) {
			padding: 110px 35px;
			font-size: 24px;
			line-height: 42px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 28px;
			letter-spacing: 3.5px;
			line-height: 52px;
		}
		&::after,
		&::before {
			position: absolute;
			right: 0;
			left: 0;
			width: calc(100% - 84px);
			height: 2px;
			margin: 0 auto;
			background-color: $white;
			content: "";
		}
		&::after {
			top: 0;
		}
		&::before {
			bottom: 0;
		}
	}
}
