.newsletter {
	&__header {
		text-align: left;
	}
	&__form {

	}
	&__footer {
		font-size: 14px;
		line-height: 23px;
		letter-spacing: 2px;
		text-align: left;
		color: $yellow;
		text-transform: uppercase;
	}
}

.newsletter-header {
	&__title {
		width: 240px;
		font-family: "ROBU";
		font-size: 3.0625rem;
		color: $yellow;
		@include media-breakpoint-up(xl) {
			display: inline;
		}
	}
	&__subtitle {
		font-size: 14px;
		line-height: 23px;
		letter-spacing: 2px;
		color: $white;
		text-transform: uppercase;
		@include media-breakpoint-up(xl) {
			display: inline;
		}
	}
}

.newsletter-form {
	position: relative;
	margin: 14px 0 22px;
	@include media-breakpoint-up(sm) {
		height: 70px;
	}
	@include media-breakpoint-up(lg) {
		height: 88px;
		margin: 4px 0 22px;
	}
	&__email {
		width: 100%;
		height: 50px;
		padding-left: 32px;
		margin-bottom: 12px;
		font-size: 1.5rem;
		background-color: $white;
		border: 0;
		box-shadow: 0;
		@include media-breakpoint-up(sm) {
			height: 70px;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			height: 88px;
		}
	}
	&__submit {
		width: 100%;
		height: 50px;
		font-size: 1.2rem;
		letter-spacing: 2px;
		line-height: 50px;
		text-align: center;
		color: $white;
		text-transform: uppercase;
		background-color: $red;
		border: 0;
		box-shadow: 0;
		@include media-breakpoint-up(sm) {
			position: absolute;
			top: 0;
			right: 0;
			width: 180px;
			height: 100%;
			line-height: 70px;
		}
		@include media-breakpoint-up(md) {
			width: 230px;
			font-size: 1.5rem;
			letter-spacing: 4px;
		}
		@include media-breakpoint-up(lg) {
			width: 260px;
			font-size: 1.875rem;
			letter-spacing: 8px;
			line-height: 88px;
		}
	}
}
