h1,
.h1 {

}
h2,
.h2 {
	margin-bottom: 14px;
	font-size: 1.875rem;
	letter-spacing: .25px;
	text-transform: uppercase;
}
h3,
.h3 {
	font-size: 1.5rem;
	line-height: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
h4,
.h4 {
	font-size: 1.375rem;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
h5,
.h5 {
	
}
h6,
.h6 {
	
}

a {
	
}
