<div class="newsletter">
	<div class="newsletter__header newsletter-header">
		<div class="newsletter-header__title">
			Sign Up!
		</div>
		<div class="newsletter-header__subtitle">
			News, events, eye-candy, tips &amp; tricks, discounts! 
		</div>
	</div>
	<div class="newsletter__form">
		<form class="newsletter-form">
			<input type="email" name="" class="newsletter-form__email">
			<input type="submit" name="" class="newsletter-form__submit">
		</form>
	</div>
	<div class="newsletter__footer">
		I am not to be held responsible foryour urge to want to give me money to make things for you. You will reap riches and rewards! Maybe. If you work real hard.
	</div>
</div>
