{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header">
			<div class="container">
				<div class="row">
					<div class="col" style="padding: 0;">
						<div class="site-header__logo">
							{% include 'assets/src/img/logo-nav.svg' %}
						</div>
						<div class="site-header__menus">
							{% include 'nav.twig' %}
						</div>
					</div>
				</div>
			</div>
		</header>

		<main class="site-main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
  			<section class="primary-content">
				{% block content %}
					Sorry, no content
				{% endblock %}
  			</section>
		</main>

		{% block footer %}
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col">
							{% include 'footer.twig' %}
						</div>
					</div>
				</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
