<div class="site-footer__row">
	<div class="site-footer__col site-footer__col--4">
		<div class="contact">
			<h2 class="contact__title">HEY! Monkey</h2>
			<h3 class="contact__details">105 Hood Street<br />
			Suite #1<br />
			Durham, NC<br />
			27701<br />
			919-680-4200</h3>
		</div>
	</div>
	<div class="site-footer__col site-footer__col--8">
		{% include '_partial--contact-form.twig' %}
	</div>
</div>
<div class="site-footer__row">
	<div class="site-footer__col site-footer__col--4">
		<div class="parking">
			<div class="parking__icon">
				{% include 'assets/src/img/icon-map.svg' %}
			</div>
			<h3 class="parking__title">Parking Map</h3>
		</div>
	</div>
	<div class="site-footer__col site-footer__col--8">
		<div class="parking__info">
			Visiting? download the parking map and park only in the designated areas.
		</div>
	</div>
</div>
<div class="site-footer__base">
	<ul class="social-list">
		<li class="social-list__item social-item">
			<a href="#!">
				<div class="social-item__icon">{% include 'assets/src/img/icon-social--instagram.svg' %}</div>
				<div class="social-item__name">Instagram</div>
			</a>
		</li>
		<li class="social-list__item social-item">
			<a href="#!">
				<div class="social-item__icon">{% include 'assets/src/img/icon-social--twitter.svg' %}</div>
				<div class="social-item__name">Twitter</div>
			</a>
		</li>
		<li class="social-list__item social-item">
			<a href="#!">
				<div class="social-item__icon">{% include 'assets/src/img/icon-social--facebook.svg' %}</div>
				<div class="social-item__name">Facebook</div>
			</a>
		</li>
		<li class="social-list__item social-item">
			<a href="#!">
				<div class="social-item__icon">{% include 'assets/src/img/icon-social--linkedin.svg' %}</div>
				<div class="social-item__name">Linkedin</div>
			</a>
		</li>
	</ul>
</div>