{% block site_nav %}

<nav>
    <ul class="site-header__ul site-header__ul--secondary">
        <li><a>About</a></li>
        <li><a>Blog</a></li>
        <li><a>Store</a></li>
        <li><a>Hire Me!</a></li>
    </ul>
    <ul class="site-header__ul">
        <li><a>My Work</a></li>
        <li><a>Brand &amp; Illustration</a></li>
        <li><a>Print Services</a></li>
        <li><a>Workshops</a></li>
        <li><a>Speaking</a></li>
    </ul>
</nav>

{% endblock %}